// nextflow.config

params.container_image = null

process {
    withName: 'SCANPY_ANALYSIS' {
        // Point Nextflow to container image
        container = params.container_image
        
        cpus = 4
        memory = '30 GB'
        
        errorStrategy = 'terminate'
        maxRetries = 0
    }
}

aws {
    region = 'us-east-2'
    client {
        uploadChunkSize = '200 MB'
        maxConnections = 20
        connectionTimeout = 10000
        maxErrorRetry = 3
    }
}

profiles {
    standard {
        process.executor = 'local'
        docker.enabled = true 
    }
}