// nextflow.config

params.container_image = null

process {
    withName: 'SCANPY_ANALYSIS' {
        // Point Nextflow to container image
        container = params.container_image
        
        cpus = 4
        memory = '16 GB'
        
        errorStrategy = 'retry'
        maxRetries = 2
    }
}

profiles {
    standard {
        process.executor = 'local'
        docker.enabled = true
        // Allow Nextflow to use the host's IAM role to authenticate the ECR pull
        aws.region = 'us-east-2' 
    }
}